<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5"/>
      </system.Web>
  -->
  <appSettings>
    <add key="Connection.Profile" value="GLOBAL" />
    <add key="ConnectionString_GLOBAL"        value="Driver={Adaptive Server Enterprise};NA= 10.30.1.204,5000;database=VENTUS;Uid=ventus;Pwd=ventus;CharSet=NoConversions;EncryptPassword=2;ServerInitiatedTransactions=0"/>
    <add key="pandoraConnectionString_GLOBAL" value="Driver={Adaptive Server Enterprise};NA= 10.30.1.204,5000;database=VENTUS;Uid=ventus;Pwd=ventus;CharSet=NoConversions;EncryptPassword=2;ServerInitiatedTransactions=0"/>


    <add key="testApp" value="NjMxZWNpSzAwaWY0bzV3TFBUa3VPWnQwMXNZa2pmUjN3bFhlNWk3ckl1UVpiTHBhYjFLeW5VZWREZC91NWJYcFlmcWV6ZDNLRUNTYzZqVkN4d3l3SGN5MnlXN00yOTJCYmR6WU8zNHlsUnRvTEliOFAxaGVXcElWY29UZXk4SVZEZVozdlBWbDk2NmNiSW93bkVNQnd5emZCeUZ3aHcxL0JsWk1wRVZYZ0ErSUN0RXhLUzZiTUZsa2tnOUhCVjU0Wm5ReHlZYmhycWVwQlI5WjNrdUpUVklWVWVsTElUQXpkTHVVUUwxV3NDc0cvc1pLN3VIQ0FyMldEbVp5K3AyS0l0TkR1NXBqaCtWSjVpU01wc0RYMWZlSmpqNmpEZzE5bWZkOGdGaUZRRUNhdkpsYVc3SkIxNzNBL3VsVkUrQ201NDNtUS8vSG02SVhLcWRWeXBHcXZ3PT0="/>
    <add key="ProjectServerBridge" value="TkdQTFF6b3A4aG9qYXJna0RlWkUzbnNLRDZZUEF1clNpczh3NTJ0Y1RBbGJzS2M0c3BTV05oL3F2NHIxUGx0ZERPeFNIbzBDWjRjdFZidExMTE9MQkhyTGZSdDdlSVB6UXptZVZqd0M0Ym5Ba2x0cEMzVHlRaXlrRTlpWmZGa2JvdHlUeEZBdXEwNCt3WUlLRWF3Qjg4cUIwS3NNQTNac2x5OFdtWHZJZWRuUldhb3N1dkROMEliMHE4Ynlyc3FyaFR6dnhuTmFoM0xzRDE0VHc5UnFuTkh1MWM5dHVRU0RRdlZiVWVjQktwa3hyeUtlWThHN1A0aXdpK3Y1SmIraFVPSGJEc0RCLy9FbkxkT1F5YWdlR2FwRW1qZy9ybDhZcXRtZkcxU3NhY252UlRON2xrOFovdHRKQXRNZkg4YmVJZjYydjlIUGpWTGI0UUlpbWxJNVR3PT0="/>
	
    <add key="ventusBUSHome" value="c:\VentusRepository"/>
	
	
    <!-- LDAP -->
    <!-- Notes
     >> LDAPSearchPath: Leave empty if you want to scan from the root of Domain.
     <add key="LDAPSearchPath" value="LDAP://OU=RT Greece,OU=Users OU,DC=inner,DC=relational,DC=gr"/>     
    -->
    
    <add key="LDAPSearchPath" value=""/>
    <add key="GetUserImage" value="LDAP"/>
    <add key="LDAPUserImagePath" value=""/>

    <!--<add key="userPictureSources" value="userPictureOnVentus,userPictureOnPortal"/>-->
	<add key="userPictureSources" value="userPictureOnVentus"/>
    <add key="userPictureOnPortal" value="https://portal.relationalfs.com/cache/{userName}.jpg"/>
    <add key="userPictureOnVentus" value="{userPictures}/{userName}.jpg"/>

    <!-- myData: Begin -->
    <add key="TEST_myDataUrl" value="https://mydata-dev.azure-api.net/" />
	
    <add key="TEST_userID-10" value="ageorg" />
    <add key="TEST_subscriptionKey-10" value="2247274f3da2403491ce676324624f9c" />
    <add key="TEST_logRequestResponse-10" value="true" />
    <add key="TEST_userID-11" value="ageorgTest" />
    <add key="TEST_subscriptionKey-11" value="a2a820cce1504a9aa005cdd563e004c7" />
    <add key="TEST_logRequestResponse-11" value="true" />
	
    <add key="PROD_myDataUrl" value="https://mydatapi.aade.gr/myDATA/" />
    <add key="PROD_userID-10" value="WW79088U558" />
    <add key="PROD_subscriptionKey-10" value="136d25c2664d4da087002d7b140d85e5" />
    <add key="PROD_logRequestResponse-10" value="true" />
    <!-- myData: End -->
		
  </appSettings>
  
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  
 
  <system.serviceModel>
    <client/>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="VentusDataServiceBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="20000000" receiveTimeout="00:30:00" sendTimeout="00:30:00">
                  <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000"/>
        </binding>
      </basicHttpBinding>
	  
      <wsHttpBinding>
        <binding name="VentusDataServiceBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="20000000" receiveTimeout="00:30:00" sendTimeout="00:30:00">
            <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000"/>
        </binding>
        <!-- invalid value from kent: maxReceivedMessageSize="655360000" -->
      </wsHttpBinding>
    </bindings>
    
    
    
    <services>
      <service behaviorConfiguration="VentusDataServiceBehavior" name="Ventus.API.v1000.helperService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="VentusDataServiceBinding" contract="Ventus.API.v1000.IhelperService" />
      </service>

      <service behaviorConfiguration="VentusDataServiceBehavior" name="Ventus.API.v1000.OModelService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="VentusDataServiceBinding" contract="Ventus.API.v1000.IOModelService" />
      </service>

	  
	  <service behaviorConfiguration="VentusDataServiceBehavior" name="Ventus.API.v1000.testingService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="VentusDataServiceBinding" contract="Ventus.API.v1000.ItestingService" />
      </service>
      
      <service behaviorConfiguration="VentusDataServiceBehavior" name="Ventus.API.v1000.moduleWF">
        <endpoint binding="basicHttpBinding" bindingConfiguration="VentusDataServiceBinding" contract="Ventus.API.v1000.ImoduleWF" />
      </service>

      <service behaviorConfiguration="VentusDataServiceBehavior" name="Ventus.API.v1000.moduleWA">
        <endpoint binding="basicHttpBinding" bindingConfiguration="VentusDataServiceBinding" contract="Ventus.API.v1000.ImoduleWA" />
      </service>
	  
      <service behaviorConfiguration="VentusDataServiceBehavior" name="Ventus.API.v1000.moduleSY">
        <endpoint binding="basicHttpBinding" bindingConfiguration="VentusDataServiceBinding" contract="Ventus.API.v1000.ImoduleSY" />
      </service>

      <service behaviorConfiguration="VentusDataServiceBehavior" name="Ventus.API.v1000.moduleSE">
        <endpoint binding="basicHttpBinding" bindingConfiguration="VentusDataServiceBinding" contract="Ventus.API.v1000.ImoduleSE" />
      </service>
	  

    </services>
    
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="VentusDataServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
	
	
  </system.serviceModel>
  
  
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>


  <system.net>
	<defaultProxy useDefaultCredentials="true">
	  <proxy proxyaddress="http://proxy.relationalfs.com:3128" usesystemdefault="True"/>
	</defaultProxy>
  </system.net> 
  
  
</configuration>